.shoppies-container {
  display: grid;
  grid-template-columns: 100% 100%;
  transition: transform .3s ease-in-out;

  &.nomination-list-opened {
    transform: translateX(max(-500px, -100%));

    .main {
      opacity: 0.6;
    }
  }
}

.main {
  position: relative;
  min-height: 100vh;
  box-shadow: 0 2px 1px 1px rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 3px 0 rgba(0, 0, 0, .12);
  overflow-x: hidden;
  transition: opacity .3s ease-in-out;

  .grid {
    display: grid;
    grid-template-columns: 100% 100%;
    transition: transform .3s ease-in-out;

    &--preview {
      transform: translateX(-100%);
    }

    @media (min-width: 1024px) {
      grid-template-columns: 1fr 1fr;
      column-gap: 50px;
      transition: none;

      &--preview {
        transform: none;
      }
    }
  }
}

.nav {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
  padding: 0 24px;

  @media (min-width: 768px) {
    padding: 0 50px;
  }
}