.preview {
  box-sizing: border-box;
  padding: 24px;

  @media (min-width: 768px) {
    padding: 24px 0;
  }

  &--wrapper {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;

    &.selected {
      max-height: 100vh;
    }

    @media (min-width: 769px) {
      max-height: none;

      &.selected {
        max-height: none;
      }
    }
  }

  img {
    max-width: 100%;
    max-height: 240px;
    margin-bottom: 24px;

    @media (min-width: 769px) {
      margin-bottom: 46px;
    }
  }

  h2 {
    color: white;
    margin: 0 0 18px 0;
    font-size: 1.5rem;
    font-weight: 200;

    @media (min-width: 769px) {
      font-size: 2.25rem;
    }
  }

  &__year {
    color: var(--faded);
    font-weight: 200;
  }

  .plot {
    line-height: 1.75rem;
  }
}