.background {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: -1;

  &__color {
    z-index: -1;
    background-color: var(--bg-light);
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100vh;
    width: 100vw;
  }

  &__image {
    display: block;
    z-index: 0;
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    transform: scale(1.1);
    filter: blur(8px) brightness(0.3) opacity(0.5);
  }
}